<button isp-button (click)="onClick()">Inline button</button>
<button isp-button color="primary">Inline Primary Button</button>
<button isp-button color="success">Inline Success Button</button>
<button isp-button color="error">Inline Error Button</button>
<button isp-button color="warn">Inline Warn Button</button>
<button isp-button color="primary" disabled>Inline Disabled Button</button>
<br><br>
<button isp-solid-button>Solid button</button>
<button isp-solid-button color="primary">Solid Primary Button</button>
<button isp-solid-button color="accent">Solid Accent Button</button>
<button isp-solid-button color="accent" disabled>Solid Disabled Button</button>
<br><br>
<button isp-outlined-button>Outline button</button>
<button isp-outlined-button color="primary">Outline Primary button</button>
<button isp-outlined-button color="primary" disabled>Outline Primary button</button>

<router-outlet></router-outlet>
