<button isp-button>Inline button</button>
<button isp-button color="success">Inline Success Button</button>
<button isp-button color="error">Inline Error Button</button>
<button isp-button color="warn">Inline Warn Button</button>
<button isp-button color="primary" disabled>Inline Disabled Button</button>
<br><br>
<button isp-solid-button>Solid button</button>
<button isp-solid-button color="primary">Solid Primary Button</button>
<button isp-solid-button color="accent">Solid Accent Button</button>
<button isp-solid-button color="accent" disabled>Solid Disabled Button</button>
<button isp-solid-button color="warn">Solid Disabled Button</button>
<br><br>
<button isp-outlined-button>Outline button</button>
<button isp-outlined-button color="primary">Outline Primary button</button>
<button isp-outlined-button disabled>Outline Primary Disabled</button>
<br><br>

<button isp-solid-button color="primary" size="large">Large Button</button>
<button isp-solid-button color="primary" size="small">Small Button</button>

<br>
<br>
<br>
<app-overlay>
  <ul class="example-list">
    <li (click)="onClick()">Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</app-overlay>

<app-user-dropdown>

</app-user-dropdown>

<router-outlet></router-outlet>
