/* You can add global styles to this file, and also import other style files */

:root {
  --isp-font-family-default: "Ubuntu", sans-serif;
  --isp-font-family-mono: "Ubuntu Mono";
  --isp-font-weight-text: 400;
  --isp-font-weight-heading: 500;
  --isp-font-text-base_font-size: 16px;
  --isp-font-text-base_line-height: 1.25;
  --isp-font-text-base: var(--isp-font-weight-text) var(--isp-font-text-base_font-size)/var(--isp-font-text-base_line-height) var(--isp-font-family-default);
  --isp-font-text-paragraph_font-size: 0.875rem;
  --isp-font-text-paragraph_line-height: 1.25rem;
  --isp-font-text-paragraph: var(--isp-font-weight-text) var(--isp-font-text-paragraph_font-size)/var(--isp-font-text-paragraph_line-height) var(--isp-font-family-default);
  --isp-font-text-label_font-size: 0.875rem;
  --isp-font-text-label_line-height: 1.125rem;
  --isp-font-text-label: var(--isp-font-weight-text) var(--isp-font-text-label_font-size)/var(--isp-font-text-label_line-height) var(--isp-font-family-default);
  --isp-font-text-description_font-size: 0.75rem;
  --isp-font-text-description_line-height: 1rem;
  --isp-font-text-description: var(--isp-font-weight-text) var(--isp-font-text-description_font-size)/var(--isp-font-text-description_line-height) var(--isp-font-family-default);
  --isp-font-text-button_font-size: 0.875rem;
  --isp-font-text-button_line-height: 1rem;
  --isp-font-text-button: var(--isp-font-weight-text) var(--isp-font-text-button_font-size)/var(--isp-font-text-button_line-height) var(--isp-font-family-default);
  --isp-font-text-breadcrumb_font-size: 0.75rem;
  --isp-font-text-breadcrumb_line-height: 1rem;
  --isp-font-text-breadcrumb: var(--isp-font-weight-text) var(--isp-font-text-breadcrumb_font-size)/var(--isp-font-text-breadcrumb_line-height) var(--isp-font-family-default);
  --isp-font-text-table-header_font-size: 0.75rem;
  --isp-font-text-table-header_line-height: 1rem;
  --isp-font-text-table-header: var(--isp-font-weight-text) var(--isp-font-text-table-header_font-size)/var(--isp-font-text-table-header_line-height) var(--isp-font-family-default);
  --isp-font-text-code_font-size: 0.875rem;
  --isp-font-text-code_line-height: 1.125rem;
  --isp-font-text-code: var(--isp-font-weight-text) var(--isp-font-text-code_font-size)/var(--isp-font-text-code_line-height) var(--isp-font-family-mono);
  --isp-font-text-code-small_font-size: 0.75rem;
  --isp-font-text-code-small_line-height: 1rem;
  --isp-font-text-code-small: var(--isp-font-weight-text) var(--isp-font-text-code-small_font-size)/var(--isp-font-text-code-small_line-height) var(--isp-font-family-mono);
  --isp-font-heading-01_font-size: 1.5rem;
  --isp-font-heading-01_line-height: 2rem;
  --isp-font-heading-01: var(--isp-font-weight-heading) var(--isp-font-heading-01_font-size)/var(--isp-font-heading-01_line-height) var(--isp-font-family-default);
  --isp-font-heading-02_font-size: 1.25rem;
  --isp-font-heading-02_line-height: 1.75rem;
  --isp-font-heading-02: var(--isp-font-weight-heading) var(--isp-font-heading-02_font-size)/var(--isp-font-heading-02_line-height) var(--isp-font-family-default);
  --isp-font-heading-03_font-size: 1rem;
  --isp-font-heading-03_line-height: 1.5rem;
  --isp-font-heading-03: var(--isp-font-weight-heading) var(--isp-font-heading-03_font-size)/var(--isp-font-heading-03_line-height) var(--isp-font-family-default);
  --isp-font-heading-04_font-size: 0.875rem;
  --isp-font-heading-04_line-height: 1.25rem;
  --isp-font-heading-04: var(--isp-font-weight-heading) var(--isp-font-heading-04_font-size)/var(--isp-font-heading-04_line-height) var(--isp-font-family-default);
  --isp-font-defaultfontfamily: Ubuntu,sans-serif;
  --isp-font-monofontfamily: Ubuntu Mono;
  --isp-font-defaultfontsize: 16px;
  --isp-text-base: 400 var(--isp-font-defaultfontsize)/1.125rem var(--isp-font-defaultfontfamily);
  --isp-text-body-01: 400 1rem/1.5rem var(--isp-font-defaultfontfamily);
  --isp-text-body-02: 400 0.875rem/1.25rem var(--isp-font-defaultfontfamily);
  --isp-text-body-03: 400 0.875rem/1.125rem var(--isp-font-defaultfontfamily);
  --isp-text-label-01: 400 0.875rem/1.125rem var(--isp-font-defaultfontfamily);
  --isp-text-label-02: 400 0.75rem/1rem var(--isp-font-defaultfontfamily);
  --isp-text-code-01: 400 0.875rem/1.125rem var(--isp-font-monofontfamily);
  --isp-text-code-02: 400 0.75rem/1rem var(--isp-font-monofontfamily);
  --isp-heading-1: 300 3.375rem/4rem var(--isp-font-defaultfontfamily);
  --isp-heading-2: 300 2.625rem/3.125rem var(--isp-font-defaultfontfamily);
  --isp-heading-3: 400 2rem/2.5rem var(--isp-font-defaultfontfamily);
  --isp-heading-4: 500 1.75rem/2.25rem var(--isp-font-defaultfontfamily);
  --isp-heading-5: 500 1.25rem/1.75rem var(--isp-font-defaultfontfamily);
  --isp-heading-6: 500 1rem/1.5rem var(--isp-font-defaultfontfamily);
  --isp-heading-7: 500 0.875rem/1.25 var(--isp-font-defaultfontfamily);
  --isp-spacer-0: 0;
  --isp-spacer-2: 2px;
  --isp-spacer-4: 4px;
  --isp-spacer-6: 6px;
  --isp-spacer-8: 8px;
  --isp-spacer-12: 12px;
  --isp-spacer-16: 16px;
  --isp-spacer-20: 20px;
  --isp-spacer-24: 24px;
  --isp-spacer-32: 32px;
  --isp-spacer-40: 40px;
  --isp-spacer-48: 48px;
  --isp-spacer-64: 64px;
  --isp-spacer-80: 80px;
  --isp-spacer-96: 96px;
  --isp-spacer-160: 160px;
  --isp-background-main-basis: 0deg, 0%;
  --isp-background-main-lightness: 97.65%;
  --isp-background-main: hsl(var(--isp-background-main-basis), var(--isp-background-main-lightness));
  --isp-background-main__hover: hsl(var(--isp-background-main-basis), calc(var(--isp-background-main-lightness) - 16%));
  --isp-background-main__active: hsl(var(--isp-background-main-basis), calc(var(--isp-background-main-lightness) - 24%));
  --isp-background-additional-basis: 0deg, 0%;
  --isp-background-additional-lightness: 100%;
  --isp-background-additional: hsl(var(--isp-background-additional-basis), var(--isp-background-additional-lightness));
  --isp-background-additional__hover: hsl(var(--isp-background-additional-basis), calc(var(--isp-background-additional-lightness) - 16%));
  --isp-background-additional__active: hsl(var(--isp-background-additional-basis), calc(var(--isp-background-additional-lightness) - 24%));
  --isp-background-contrast-basis: 208.89deg, 29.67%;
  --isp-background-contrast-lightness: 17.84%;
  --isp-background-contrast: hsl(var(--isp-background-contrast-basis), var(--isp-background-contrast-lightness));
  --isp-background-contrast__hover: hsl(var(--isp-background-contrast-basis), calc(var(--isp-background-contrast-lightness) - 16%));
  --isp-background-contrast__active: hsl(var(--isp-background-contrast-basis), calc(var(--isp-background-contrast-lightness) - 24%));
  --isp-background-list-basis: 215.45deg, 100%;
  --isp-background-list-lightness: 95.69%;
  --isp-background-list: hsl(var(--isp-background-list-basis), var(--isp-background-list-lightness));
  --isp-background-list__hover: hsl(var(--isp-background-list-basis), calc(var(--isp-background-list-lightness) - 16%));
  --isp-background-list__active: hsl(var(--isp-background-list-basis), calc(var(--isp-background-list-lightness) - 24%));
  --isp-background-accent-basis: 50.56deg, 100%;
  --isp-background-accent-lightness: 61.37%;
  --isp-background-accent: hsl(var(--isp-background-accent-basis), var(--isp-background-accent-lightness));
  --isp-background-accent__hover: hsl(var(--isp-background-accent-basis), calc(var(--isp-background-accent-lightness) - 16%));
  --isp-background-accent__active: hsl(var(--isp-background-accent-basis), calc(var(--isp-background-accent-lightness) - 24%));
  --isp-background-info-basis: 212.88deg, 100%;
  --isp-background-info-lightness: 42.94%;
  --isp-background-info: hsl(var(--isp-background-info-basis), var(--isp-background-info-lightness));
  --isp-background-info__hover: hsl(var(--isp-background-info-basis), calc(var(--isp-background-info-lightness) - 16%));
  --isp-background-info__active: hsl(var(--isp-background-info-basis), calc(var(--isp-background-info-lightness) - 24%));
  --isp-background-info-inline__hover: hsl(211.76deg, 73.91%, 95.49%);
  --isp-background-info-inline__active: hsl(212.73deg, 75.86%, 88.63%);
  --isp-background-info-secondary-basis: 217.5deg, 100%;
  --isp-background-info-secondary-lightness: 98.43%;
  --isp-background-info-secondary: hsl(var(--isp-background-info-secondary-basis), var(--isp-background-info-secondary-lightness));
  --isp-background-info-secondary__hover: hsl(var(--isp-background-info-secondary-basis), calc(var(--isp-background-info-secondary-lightness) - 16%));
  --isp-background-info-secondary__active: hsl(var(--isp-background-info-secondary-basis), calc(var(--isp-background-info-secondary-lightness) - 24%));
  --isp-background-success-basis: 136.8deg, 64.94%;
  --isp-background-success-lightness: 30.2%;
  --isp-background-success: hsl(var(--isp-background-success-basis), var(--isp-background-success-lightness));
  --isp-background-success__hover: hsl(var(--isp-background-success-basis), calc(var(--isp-background-success-lightness) - 16%));
  --isp-background-success__active: hsl(var(--isp-background-success-basis), calc(var(--isp-background-success-lightness) - 24%));
  --isp-background-success-inline__hover: hsl(135deg, 28.57%, 94.51%);
  --isp-background-success-inline__active: hsl(138deg, 27.78%, 85.88%);
  --isp-background-success-secondary-basis: 144deg, 100%;
  --isp-background-success-secondary-lightness: 98.04%;
  --isp-background-success-secondary: hsl(var(--isp-background-success-secondary-basis), var(--isp-background-success-secondary-lightness));
  --isp-background-success-secondary__hover: hsl(var(--isp-background-success-secondary-basis), calc(var(--isp-background-success-secondary-lightness) - 16%));
  --isp-background-success-secondary__active: hsl(var(--isp-background-success-secondary-basis), calc(var(--isp-background-success-secondary-lightness) - 24%));
  --isp-background-warning-basis: 29deg, 93.78%;
  --isp-background-warning-lightness: 55.88%;
  --isp-background-warning: hsl(var(--isp-background-warning-basis), var(--isp-background-warning-lightness));
  --isp-background-warning__hover: hsl(var(--isp-background-warning-basis), calc(var(--isp-background-warning-lightness) - 16%));
  --isp-background-warning__active: hsl(var(--isp-background-warning-basis), calc(var(--isp-background-warning-lightness) - 24%));
  --isp-background-warning-inline__hover: hsl(30deg, 88.89%, 96.47%);
  --isp-background-warning-inline__active: hsl(29.3deg, 95.56%, 91.18%);
  --isp-background-warning-secondary-basis: 51deg, 100%;
  --isp-background-warning-secondary-lightness: 96.08%;
  --isp-background-warning-secondary: hsl(var(--isp-background-warning-secondary-basis), var(--isp-background-warning-secondary-lightness));
  --isp-background-warning-secondary__hover: hsl(var(--isp-background-warning-secondary-basis), calc(var(--isp-background-warning-secondary-lightness) - 16%));
  --isp-background-warning-secondary__active: hsl(var(--isp-background-warning-secondary-basis), calc(var(--isp-background-warning-secondary-lightness) - 24%));
  --isp-background-danger-basis: 342.14deg, 96.41%;
  --isp-background-danger-lightness: 43.73%;
  --isp-background-danger: hsl(var(--isp-background-danger-basis), var(--isp-background-danger-lightness));
  --isp-background-danger__hover: hsl(var(--isp-background-danger-basis), calc(var(--isp-background-danger-lightness) - 16%));
  --isp-background-danger__active: hsl(var(--isp-background-danger-basis), calc(var(--isp-background-danger-lightness) - 24%));
  --isp-background-danger-inline__hover: hsl(342.35deg, 73.91%, 95.49%);
  --isp-background-danger-inline__active: hsl(341.86deg, 75.44%, 88.82%);
  --isp-background-danger-secondary-basis: 354deg, 55.56%;
  --isp-background-danger-secondary-lightness: 96.47%;
  --isp-background-danger-secondary: hsl(var(--isp-background-danger-secondary-basis), var(--isp-background-danger-secondary-lightness));
  --isp-background-danger-secondary__hover: hsl(var(--isp-background-danger-secondary-basis), calc(var(--isp-background-danger-secondary-lightness) - 16%));
  --isp-background-danger-secondary__active: hsl(var(--isp-background-danger-secondary-basis), calc(var(--isp-background-danger-secondary-lightness) - 24%));
  --isp-border-default-basis: 0deg, 0%;
  --isp-border-default-lightness: 85.1%;
  --isp-border-default: hsl(var(--isp-border-default-basis), var(--isp-border-default-lightness));
  --isp-border-default__hover: hsl(var(--isp-border-default-basis), calc(var(--isp-border-default-lightness) - 16%));
  --isp-border-default__active: hsl(var(--isp-border-default-basis), calc(var(--isp-border-default-lightness) - 24%));
  --isp-border-interactive-basis: 212.88deg, 100%;
  --isp-border-interactive-lightness: 42.94%;
  --isp-border-interactive: hsl(var(--isp-border-interactive-basis), var(--isp-border-interactive-lightness));
  --isp-border-interactive__hover: hsl(var(--isp-border-interactive-basis), calc(var(--isp-border-interactive-lightness) - 16%));
  --isp-border-interactive__active: hsl(var(--isp-border-interactive-basis), calc(var(--isp-border-interactive-lightness) - 24%));
  --isp-border-info-basis: 213.08deg, 100%;
  --isp-border-info-lightness: 58.04%;
  --isp-border-info: hsl(var(--isp-border-info-basis), var(--isp-border-info-lightness));
  --isp-border-info__hover: hsl(var(--isp-border-info-basis), calc(var(--isp-border-info-lightness) - 16%));
  --isp-border-info__active: hsl(var(--isp-border-info-basis), calc(var(--isp-border-info-lightness) - 24%));
  --isp-border-success-basis: 147.04deg, 100%;
  --isp-border-success-lightness: 31.76%;
  --isp-border-success: hsl(var(--isp-border-success-basis), var(--isp-border-success-lightness));
  --isp-border-success__hover: hsl(var(--isp-border-success-basis), calc(var(--isp-border-success-lightness) - 16%));
  --isp-border-success__active: hsl(var(--isp-border-success-basis), calc(var(--isp-border-success-lightness) - 24%));
  --isp-border-warning-basis: 50.55deg, 100%;
  --isp-border-warning-lightness: 46.08%;
  --isp-border-warning: hsl(var(--isp-border-warning-basis), var(--isp-border-warning-lightness));
  --isp-border-warning__hover: hsl(var(--isp-border-warning-basis), calc(var(--isp-border-warning-lightness) - 16%));
  --isp-border-warning__active: hsl(var(--isp-border-warning-basis), calc(var(--isp-border-warning-lightness) - 24%));
  --isp-border-danger-basis: 351.96deg, 65.88%;
  --isp-border-danger-lightness: 66.67%;
  --isp-border-danger: hsl(var(--isp-border-danger-basis), var(--isp-border-danger-lightness));
  --isp-border-danger__hover: hsl(var(--isp-border-danger-basis), calc(var(--isp-border-danger-lightness) - 16%));
  --isp-border-danger__active: hsl(var(--isp-border-danger-basis), calc(var(--isp-border-danger-lightness) - 24%));
  --isp-graph-blue: hsl(227.37deg, 55.34%, 59.61%);
  --isp-graph-blue-purple: hsl(252.2deg, 84.29%, 72.55%);
  --isp-graph-purple: hsl(273.28deg, 77.78%, 70%);
  --isp-graph-pink: hsl(330.87deg, 52.82%, 61.76%);
  --isp-graph-bright-pink: hsl(356.45deg, 91.57%, 67.45%);
  --isp-graph-light-pink: hsl(0deg, 91.4%, 81.76%);
  --isp-graph-pale-red: hsl(350.94deg, 47.75%, 43.53%);
  --isp-graph-red: hsl(338.6deg, 84.24%, 39.8%);
  --isp-graph-pale-orange: hsl(14.45deg, 82.04%, 67.25%);
  --isp-graph-orange: hsl(25.15deg, 100%, 55.1%);
  --isp-graph-apricot-orange: hsl(32.54deg, 100%, 76.86%);
  --isp-graph-warm-yellow: hsl(40.65deg, 96.84%, 49.61%);
  --isp-graph-yellow: hsl(46.94deg, 93.41%, 64.31%);
  --isp-graph-green: hsl(108.29deg, 52.79%, 54.31%);
  --isp-graph-mild-green: hsl(93deg, 47.06%, 66.67%);
  --isp-graph-pale-green: hsl(93.06deg, 73.13%, 86.86%);
  --isp-graph-light-blue: hsl(195deg, 88.89%, 85.88%);
  --isp-graph-pale-blue: hsl(205deg, 55.38%, 74.51%);
  --isp-graph-bright-blue: hsl(212.03deg, 100%, 73.92%);
  --isp-graph-light-purple: hsl(228.89deg, 93.1%, 82.94%);
  --isp-graph-dark-purple: hsl(235.44deg, 37.44%, 58.63%);
  --isp-graph-blue-grey: hsl(208.57deg, 28.77%, 28.63%);
  --isp-graph-violet: hsl(262.58deg, 38.59%, 47.25%);
  --isp-graph-light-violet: hsl(259.57deg, 88.46%, 89.8%);
  --isp-graph-dark-blue: hsl(219.87deg, 62.2%, 49.8%);
  --isp-graph-red-violet: hsl(321.13deg, 68.83%, 45.29%);
  --isp-graph-pale-pink: hsl(334.4deg, 90.36%, 83.73%);
  --isp-graph-dark-teal: hsl(175.61deg, 66.13%, 24.31%);
  --isp-graph-teal: hsl(174.67deg, 83.85%, 31.57%);
  --isp-graph-light-teal: hsl(168.18deg, 63.46%, 59.22%);
  --isp-icon-main-basis: 208.42deg, 29.23%;
  --isp-icon-main-lightness: 12.75%;
  --isp-icon-main: hsl(var(--isp-icon-main-basis), var(--isp-icon-main-lightness));
  --isp-icon-main__hover: hsl(var(--isp-icon-main-basis), calc(var(--isp-icon-main-lightness) - 16%));
  --isp-icon-main__active: hsl(var(--isp-icon-main-basis), calc(var(--isp-icon-main-lightness) - 24%));
  --isp-icon-contrast-basis: 0deg, 0%;
  --isp-icon-contrast-lightness: 100%;
  --isp-icon-contrast: hsl(var(--isp-icon-contrast-basis), var(--isp-icon-contrast-lightness));
  --isp-icon-contrast__hover: hsl(var(--isp-icon-contrast-basis), calc(var(--isp-icon-contrast-lightness) - 16%));
  --isp-icon-contrast__active: hsl(var(--isp-icon-contrast-basis), calc(var(--isp-icon-contrast-lightness) - 24%));
  --isp-icon-info-basis: 213.08deg, 100%;
  --isp-icon-info-lightness: 58.04%;
  --isp-icon-info: hsl(var(--isp-icon-info-basis), var(--isp-icon-info-lightness));
  --isp-icon-info__hover: hsl(var(--isp-icon-info-basis), calc(var(--isp-icon-info-lightness) - 16%));
  --isp-icon-info__active: hsl(var(--isp-icon-info-basis), calc(var(--isp-icon-info-lightness) - 24%));
  --isp-icon-additional-basis: 208deg, 30%;
  --isp-icon-additional-lightness: 60.78%;
  --isp-icon-additional: hsl(var(--isp-icon-additional-basis), var(--isp-icon-additional-lightness));
  --isp-icon-additional__hover: hsl(var(--isp-icon-additional-basis), calc(var(--isp-icon-additional-lightness) - 16%));
  --isp-icon-additional__active: hsl(var(--isp-icon-additional-basis), calc(var(--isp-icon-additional-lightness) - 24%));
  --isp-icon-onField-basis: 0deg, 0%;
  --isp-icon-onField-lightness: 59.22%;
  --isp-icon-onField: hsl(var(--isp-icon-onField-basis), var(--isp-icon-onField-lightness));
  --isp-icon-onField__hover: hsl(var(--isp-icon-onField-basis), calc(var(--isp-icon-onField-lightness) - 16%));
  --isp-icon-onField__active: hsl(var(--isp-icon-onField-basis), calc(var(--isp-icon-onField-lightness) - 24%));
  --isp-icon-success-basis: 147.04deg, 100%;
  --isp-icon-success-lightness: 31.76%;
  --isp-icon-success: hsl(var(--isp-icon-success-basis), var(--isp-icon-success-lightness));
  --isp-icon-success__hover: hsl(var(--isp-icon-success-basis), calc(var(--isp-icon-success-lightness) - 16%));
  --isp-icon-success__active: hsl(var(--isp-icon-success-basis), calc(var(--isp-icon-success-lightness) - 24%));
  --isp-icon-warning-basis: 28.71deg, 93.72%;
  --isp-icon-warning-lightness: 56.27%;
  --isp-icon-warning: hsl(var(--isp-icon-warning-basis), var(--isp-icon-warning-lightness));
  --isp-icon-warning__hover: hsl(var(--isp-icon-warning-basis), calc(var(--isp-icon-warning-lightness) - 16%));
  --isp-icon-warning__active: hsl(var(--isp-icon-warning-basis), calc(var(--isp-icon-warning-lightness) - 24%));
  --isp-icon-danger-basis: 342.14deg, 96.41%;
  --isp-icon-danger-lightness: 43.73%;
  --isp-icon-danger: hsl(var(--isp-icon-danger-basis), var(--isp-icon-danger-lightness));
  --isp-icon-danger__hover: hsl(var(--isp-icon-danger-basis), calc(var(--isp-icon-danger-lightness) - 16%));
  --isp-icon-danger__active: hsl(var(--isp-icon-danger-basis), calc(var(--isp-icon-danger-lightness) - 24%));
  --isp-neutral-base: hsl(0deg, 0%, 44.71%);
  --isp-neutral-lowContrast-10: hsl(0deg, 0%, 85.1%);
  --isp-neutral-lowContrast-20: hsl(0deg, 0%, 93.33%);
  --isp-neutral-lowContrast-30: hsl(0deg, 0%, 95.69%);
  --isp-shadow-base-basis: 208.57deg, 28.77%, 28.63%;
  --isp-shadow-base: hsl(var(--isp-shadow-base-basis));
  --isp-shadow-base_float: hsla(var(--isp-shadow-base-basis), 0.25);
  --isp-shadow-base_dialog: hsla(var(--isp-shadow-base-basis), 0.2);
  --isp-backdrop-dark-basis: 208.57deg, 28.77%, 28.63%;
  --isp-backdrop-dark: hsla(var(--isp-backdrop-dark-basis), 0.6);
  --isp-backdrop-light-basis: 0deg, 0%, 100%;
  --isp-backdrop-light: hsla(var(--isp-backdrop-light-basis), 0.67);
  --isp-table-background: hsl(0deg, 0%, 100%);
  --isp-table-background-hover: hsl(218.71deg, 100%, 93.92%);
  --isp-table-background-selected: hsl(216.92deg, 100%, 94.9%);
  --isp-table-background-odd: hsl(0deg, 0%, 95.69%);
  --isp-table-background-odd-selected: hsl(215.36deg, 100%, 89.02%);
  --isp-table-background-even-selected: hsl(216.92deg, 100%, 94.9%);
  --isp-table-background-deleted: hsl(0deg, 0%, 98.04%);
  --isp-text-main-basis: 208.42deg, 29.23%;
  --isp-text-main-lightness: 12.75%;
  --isp-text-main: hsl(var(--isp-text-main-basis), var(--isp-text-main-lightness));
  --isp-text-main__hover: hsl(var(--isp-text-main-basis), calc(var(--isp-text-main-lightness) - 16%));
  --isp-text-main__active: hsl(var(--isp-text-main-basis), calc(var(--isp-text-main-lightness) - 24%));
  --isp-text-contrast-basis: 0deg, 0%;
  --isp-text-contrast-lightness: 100%;
  --isp-text-contrast: hsl(var(--isp-text-contrast-basis), var(--isp-text-contrast-lightness));
  --isp-text-contrast__hover: hsl(var(--isp-text-contrast-basis), calc(var(--isp-text-contrast-lightness) - 16%));
  --isp-text-contrast__active: hsl(var(--isp-text-contrast-basis), calc(var(--isp-text-contrast-lightness) - 24%));
  --isp-text-additional-basis: 0deg, 0%;
  --isp-text-additional-lightness: 52.94%;
  --isp-text-additional: hsl(var(--isp-text-additional-basis), var(--isp-text-additional-lightness));
  --isp-text-additional__hover: hsl(var(--isp-text-additional-basis), calc(var(--isp-text-additional-lightness) - 16%));
  --isp-text-additional__active: hsl(var(--isp-text-additional-basis), calc(var(--isp-text-additional-lightness) - 24%));
  --isp-text-interactive-basis: 212.88deg, 100%;
  --isp-text-interactive-lightness: 42.94%;
  --isp-text-interactive: hsl(var(--isp-text-interactive-basis), var(--isp-text-interactive-lightness));
  --isp-text-interactive__hover: hsl(var(--isp-text-interactive-basis), calc(var(--isp-text-interactive-lightness) - 16%));
  --isp-text-interactive__active: hsl(var(--isp-text-interactive-basis), calc(var(--isp-text-interactive-lightness) - 24%));
  --isp-text-accent-basis: 50.56deg, 100%;
  --isp-text-accent-lightness: 61.37%;
  --isp-text-accent: hsl(var(--isp-text-accent-basis), var(--isp-text-accent-lightness));
  --isp-text-accent__hover: hsl(var(--isp-text-accent-basis), calc(var(--isp-text-accent-lightness) - 16%));
  --isp-text-accent__active: hsl(var(--isp-text-accent-basis), calc(var(--isp-text-accent-lightness) - 24%));
  --isp-text-success-basis: 136.8deg, 64.94%;
  --isp-text-success-lightness: 30.2%;
  --isp-text-success: hsl(var(--isp-text-success-basis), var(--isp-text-success-lightness));
  --isp-text-success__hover: hsl(var(--isp-text-success-basis), calc(var(--isp-text-success-lightness) - 16%));
  --isp-text-success__active: hsl(var(--isp-text-success-basis), calc(var(--isp-text-success-lightness) - 24%));
  --isp-text-warning-basis: 20.72deg, 90.65%;
  --isp-text-warning-lightness: 41.96%;
  --isp-text-warning: hsl(var(--isp-text-warning-basis), var(--isp-text-warning-lightness));
  --isp-text-warning__hover: hsl(var(--isp-text-warning-basis), calc(var(--isp-text-warning-lightness) - 16%));
  --isp-text-warning__active: hsl(var(--isp-text-warning-basis), calc(var(--isp-text-warning-lightness) - 24%));
  --isp-text-danger-basis: 342.14deg, 96.41%;
  --isp-text-danger-lightness: 43.73%;
  --isp-text-danger: hsl(var(--isp-text-danger-basis), var(--isp-text-danger-lightness));
  --isp-text-danger__hover: hsl(var(--isp-text-danger-basis), calc(var(--isp-text-danger-lightness) - 16%));
  --isp-text-danger__active: hsl(var(--isp-text-danger-basis), calc(var(--isp-text-danger-lightness) - 24%));
  --isp-text-disabled-basis: 0deg, 0%;
  --isp-text-disabled-lightness: 59.22%;
  --isp-text-disabled: hsl(var(--isp-text-disabled-basis), var(--isp-text-disabled-lightness));
  --isp-text-disabled__hover: hsl(var(--isp-text-disabled-basis), calc(var(--isp-text-disabled-lightness) - 16%));
  --isp-text-disabled__active: hsl(var(--isp-text-disabled-basis), calc(var(--isp-text-disabled-lightness) - 24%));
}
